{% extends "base.html" %}
{% block title %}{{ action }} — PED TV{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">{{ action }}</h1>
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <input type="hidden" name="back_to" value="{{ back_to_playlist }}">

      {% for field in form %}
        <div class="nhsuk-form-group {% if field.errors %}nhsuk-form-group--error{% endif %}">
          <label class="nhsuk-label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          {% if field.help_text %}
            <div class="nhsuk-hint">{{ field.help_text }}</div>
          {% endif %}
          {% for error in field.errors %}
            <span class="nhsuk-error-message">{{ error }}</span>
          {% endfor %}
          {{ field }}
        </div>
      {% endfor %}

      <button type="submit" class="nhsuk-button">Save</button>
      {% if back_to_playlist %}
        <a href="{% url 'manage:playlist-edit' back_to_playlist %}" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-3">
          Cancel
        </a>
      {% else %}
        <a href="{% url 'manage:provider-list' %}" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-3">
          Cancel
        </a>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
